/* .list-group {
    width: 20vw;
    float: right;
    height: 100vh;
} */


main {
    height: 3700px;
}

/*
.fw-bold, .ms-2.my-3.me-auto {
     font-family: 'Courier New', Courier, monospace;
}

div.card, h5 {
    font-family: "Source Code Pro", monospace;
}

.project-title {
    background-image: linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
    border-radius: 30px;
}

.project  {
    border: 1px solid white;
    border-radius: 30px;
    width: 70%;

}

pre {
    border: 1px solid white;
    width: 100%;
    height: 50%;
}*/



